# Dependencies
node_modules

# Build output
dist
build
.svelte-kit
.output
*.tgz

# Storybook
storybook-static
*storybook.log

# SvelteKit / Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Env
.env
.env.*
!.env.example

# Coverage
coverage
*.lcov

# OS
.DS_Store
Thumbs.db

# IDE
.idea
*.tsbuildinfo
